/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Dec-2016, 12:41:53
    Author     : Agnes
*/
.container{
    max-width: 750px;
}
.navbar{
    margin-top: 30px;
}
.navbar-right{   
    position-right: 15px;
}
.jumbotron{
    overflow: hidden;
}
.left{
    width:45%;
    height: 100%;
    float: left;
}
.right{
    width:45%;
    height: 100%;
    float: right;
}
#recipes{
    height: 45px;
}
.accessBox{
    margin-top: 2px;
    margin-bottom: 5px;
}
#addbt{    
    float: right;
}
.checkbox{
    margin-top: 14px;
}
#save{
    margin-top: 10px;
}